smartekrankmeldung.json
[
    {
        "id": "12095185656f1656",
        "type": "comment",
        "z": "8bba70902144b714",
        "name": "notification of illness                                  ",
        "info": "",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "16b21b15908ac476",
        "type": "server-state-changed",
        "z": "8bba70902144b714",
        "name": "get temperature",
        "server": "ef57f68ba529f5c6",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.withings_skin_temperature_c_christian",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "39",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "0a01a18d32ae3987"
            ],
            []
        ]
    },
    {
        "id": "0a01a18d32ae3987",
        "type": "api-call-service",
        "z": "8bba70902144b714",
        "name": "send notification",
        "server": "ef57f68ba529f5c6",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_christians_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Gesundheit\",\"message\":\"Du hast Fieber ({{temperature}}°C). Soll ich deinen Arbeitgeber informieren?\",\"data\":{\"push\":{\"category\":\"illness_notification\",\"thread-id\":\"notification_group_health\"}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "dad0a613afa15f21",
        "type": "e-mail",
        "z": "8bba70902144b714",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "send email to employer",
        "credentials": {
            "userid": "",
            "password": ""
        },
        "x": 1030,
        "y": 240,
        "wires": []
    },
    {
        "id": "eced8017e5d757a1",
        "type": "api-call-service",
        "z": "8bba70902144b714",
        "name": "send success notification",
        "server": "ef57f68ba529f5c6",
        "version": 5,
        "debugenabled": true,
        "domain": "notify",
        "service": "mobile_app_christians_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Gesundheit\",\"message\":\"Dein Arbeitgeber wurde informiert, Gute Besserung!\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f5534efa45e2709e",
        "type": "api-call-service",
        "z": "8bba70902144b714",
        "name": "send no success notification",
        "server": "ef57f68ba529f5c6",
        "version": 5,
        "debugenabled": true,
        "domain": "notify",
        "service": "mobile_app_christians_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Gesundheit\",\"message\":\"Dein Arbeitgeber wurde NICHT informiert, bitte prüfe deine E-Mails!\",\"data\":{\"push\":{\"sound\":{\"name\":\"default\",\"critical\":1,\"volume\":1}}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1020,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8ffad300fe728214",
        "type": "function",
        "z": "8bba70902144b714",
        "name": "create e-mail subject and body",
        "func": "var today  = new Date();\n\n\nmsg = {\n  topic: \"Krankmeldung \"+ today.toLocaleDateString(\"de-DE\"),\n  payload: \"Hallo Jonas,\\nleider falle ich heute krankheitsbedingt aus.\\n\\n Gruß\\nChristian\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 240,
        "wires": [
            [
                "bf4c5f68d17207cb",
                "dad0a613afa15f21"
            ]
        ]
    },
    {
        "id": "61ac6725a9a99af7",
        "type": "switch",
        "z": "8bba70902144b714",
        "name": "check if mail was send",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Krankmeldung",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 400,
        "wires": [
            [
                "eced8017e5d757a1"
            ],
            [
                "f5534efa45e2709e"
            ]
        ]
    },
    {
        "id": "bd32bbf040bd5476",
        "type": "function",
        "z": "8bba70902144b714",
        "name": "set searchfilter for e-mails",
        "func": "var today  = new Date();\nvar subject = \"Krankmeldung \"+ today.toLocaleDateString(\"de-DE\");\n\n\n\ncriteria = [ ['HEADER', 'SUBJECT',subject ] ]\nmsg = {}\nmsg['criteria'] = criteria\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "c0051d64893ab334"
            ]
        ]
    },
    {
        "id": "c0051d64893ab334",
        "type": "e-mail in",
        "z": "8bba70902144b714",
        "name": "check is e-mail was send",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "box": "[Gmail]/Gesendet",
        "disposition": "None",
        "criteria": "_msg_",
        "repeat": "300",
        "fetch": "trigger",
        "inputs": 1,
        "credentials": {},
        "x": 210,
        "y": 400,
        "wires": [
            [
                "61ac6725a9a99af7"
            ]
        ]
    },
    {
        "id": "bf4c5f68d17207cb",
        "type": "trigger",
        "z": "8bba70902144b714",
        "name": "delay",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "bd32bbf040bd5476"
            ]
        ]
    },
    {
        "id": "0131295418aa273d",
        "type": "server-events",
        "z": "8bba70902144b714",
        "name": "get action from notification",
        "server": "ef57f68ba529f5c6",
        "version": 2,
        "eventType": "ios.notification_action_fired",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            },
            {
                "property": "result",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event.actionName",
                "valueType": "jsonata"
            },
            {
                "property": "timestamp",
                "propertyType": "msg",
                "value": "",
                "valueType": "date"
            }
        ],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "5cdc3a78a12aee26"
            ]
        ]
    },
    {
        "id": "5cdc3a78a12aee26",
        "type": "switch",
        "z": "8bba70902144b714",
        "name": "evaluate action",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ILLNESS.YES",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ILLNESS.NO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "8ffad300fe728214"
            ],
            []
        ]
    },
    {
        "id": "ef57f68ba529f5c6",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true,
        "credentials": {
            "host": "",
            "access_token": ""
        }
    }
]